/*reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a { color: inherit; }
/*fonts*/
/*notoSansJP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;900&display=swap');
/*libreFranklin*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
/*playfairDisplay*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');

/*responsive*/
.img-responsive {
    width:100%;
    margin-bottom: 2em;
    margin-top: 1em;
    height:auto;
}
/*header*/
header {
    background-color:black;
    color: white;
    display: flex;
    margin: auto;
    width: 100%;
    top:0;
    position:fixed;
    height:60px;
    align-items:center;
}
.innerHeader {
    flex: 1;
    margin: 0 auto;
}
/*logo*/
.logo { 
    float:left;
    flex: 1;
}
.logo h1 {
    font-family: 'NotoSansJP', sans-serif;
    color: white;
    font-style:italic;
    font-weight:250;
}
.logo h1 span {
    font-family: 'NotoSansJP', sans-serif;
    font-style: normal;
    font-weight:750;
}
/*navigation Bar*/
.navibar {
    color: white;
    flex: 2;
}
nav { 
}
.navibar ul {
    display:flex;
    font-family: 'LibreFranklin', sans-serif;
    font-size:20px;
    margin: 5px;
}
.navilinks {
    justify-content: space-around;
}
/*main*/
main {
    max-width: 50%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
}
.mainBlock h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}
.mainBlock h3 {
    font-size: 1.65em;
    margin-bottom: 1em;
}
.mainBlock p {
    font-size: 1.125rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1em;
    line-height: 1.75;
}
/*article*/
.article {
    float: left;
}
.article img {
}
/*asideArticles*/
aside {
    float:right;
}
/*footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    color: white;
    font-family: 'LibreFranklin', sans-serif;
    font-size: 0.55em;
    padding: 1em;
}
footer p {
    text-align: center;
}
