/*reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a { color: inherit; }
/*fonts*/
/*notoSansJP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;900&display=swap');
/*libreFranklin*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
/*playfairDisplay*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');

/*responsive*/
.img-responsive {
    width:100%;
    margin-top: 1em;
    height:auto;
}

/*header*/
header {
    background-color:black;
    color: white;
    display: flex;
    margin: auto;
    width: 100%;
    top:0;
    position:fixed;
    height:3.5em;
    align-items:center;
}
.innerHeader {
    flex: 1;
    margin: 0 auto;
}
/*logo*/
.logo { 
    float:left;
    flex: 1;
}
.logo h1 {
    font-family: 'NotoSansJP', sans-serif;
    color: white;
    font-style:italic;
    font-weight:250;
}
.logo h1 span {
    font-family: 'NotoSansJP', sans-serif;
    font-style: normal;
    font-weight:750;
}
/*navigation Bar*/
.navibar {
    color: white;
    flex: 2;
}
.navibar ul {
    display:flex;
    font-family: 'LibreFranklin', sans-serif;
    font-size:20px;
    margin: 5px;
}
.navilinks {
    justify-content: space-around;
}
/*main*/
main {
    max-width: 50%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
    margin-bottom: 20%;
}
.mainBlock { display: flex;}
.mainBlock h2 { font-family: 'Playfair Display', serif; font-size: 2.5vw;
}
.mainBlock h3 {
    font-size: 1.65vw;
    margin-bottom: 1vw;
}
.mainBlock p {
    font-size: 1.325vw;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1vw;
    line-height: 1.75;
}
.text-img {
    background-color: #282828;
    font-size: 0.70vw;
    padding: 0.25vw;
    font-family: 'Times New Roman', Times, serif;
    text-align:center ;
    line-height: 1.75;
    color:white;
}
/*article*/
.article {
    float: left;
    width: 70%;
}
/*asideArticles*/
/*footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    color: white;
    font-family: 'LibreFranklin', sans-serif;
    font-size: 0.65vw;
    padding: 1em;
}
footer p {
    text-align: center;
}
/*side-news*/
.side-news {
    float: right;
    width: 30%;
    flex-grow: 1;
    margin-left: 2em;
    margin-bottom: 2em;
}
.side-news figcaption {
    font-family: 'Playfair Display', serif;
    font-size: 1.2vw;
    font-weight: bold;
}

/*mediaQueries*/
@media (max-width:768px){
    .mainBlock p, 
    .mainBlock h2 {
      font-size:large;
    }
    footer p {
        font-size: 2.5vw;
    }
    .side-news figcaption {
        font-size: medium;    
    }
    .mainBlock img {
        width: 100%;
    }
    .side-news {
        flex-grow: 0;
        width: 100%;
    }
    main {
        max-width: 90%;
    }
    .mainBlock {
        display: block;
    }
    body {
        margin-top: 30%;
    }
}
